<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>HTML Sudoku Board</title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

        <style type="text/css">

           
            html, body {
            background-color: #232931
            }

            .header {
                margin-bottom: 1rem
            }

            .title, .desc{
                color: #fafafa;
            }

            table {
                border: 2px solid #4ecca3;
                border-radius: 2px;
                filter: drop-shadow(0 0 30px #2c2828);
            }

            td {
                border: 1px solid #85cfcb;
                text-align: center;
                vertical-align: middle;  
            }

            input {
                color: #eeeeee;
                padding: 0;
                border: 0;
                text-align: center;
                width: 48px;
                height: 48px;
                font-size: 20px;
                background-color: #393e46;
                outline: none;
            }

            input:disabled {
                background-color: #EEEEEE;
            }

            .board {
                display: flex
            }

            .row-0   { border-top:    3px solid #4ecca3; }
            .row-4   { border-top:    3px solid #4ecca3; }
            .row-8   { border-top:    3px solid #4ecca3; }
            .row-12  { border-top:    3px solid #4ecca3; }
            .row-15  { border-bottom: 3px solid #4ecca3; }


            .col-0   { border-left:    2px solid #4ecca3; }
            .col-4   { border-left:    2px solid #4ecca3; }
            .col-8   { border-left:    2px solid #4ecca3; }
            .col-12  { border-left:    2px solid #4ecca3; }
            .col-15  { border-right:   2px solid #4ecca3; }

            .col-0, .col-1, .col-2, .col-3, .col-8, .col-9, .col-10, .col-11 {background-color: #232931}

            .solve {
                margin-left: 1rem;
                padding: 0.5rem 2rem;
                background-color: #4ecca3;
                border: none;
                border-radius: 5px;
                color: #232931;
                font-weight: bold;
            }

            #grid {
                margin-bottom: 1rem;
                height: 20px;
            }

            .marked {
                background-color: #4ecca3;
                color: #232931;
            }
            
            .alert{
                position: relative;
                padding: .75rem 1.25rem;
                margin-bottom: 1rem;
                border: 1px solid transparent;
                border-radius: .25rem;
            }

            .alert-success {
                color: #155724;
                background-color: #d4edda;
                border-color: #c3e6cb;
            }
            .alert-danger {
                color: #721c24;
                background-color: #f8d7da;
                border-color: #f5c6cb;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1 class="title">Sudoku Board</h1>
            <p class="desc">Anda dapat memasukan angka angka inisial sudoku pada kotak yang anda inginkan, lalu tekan button
            solve untuk mendapatkan solusi dari sudoku anda</p>
            {% if message %}
            <div class="alert {% if solved %}alert-success{% else %}alert-danger{%endif%}">
                {{message}}
            </div>
            {% endif %}
            <form class="board" method="POST">
                {% csrf_token %}
                <table id="grid">
                {% if solution %}
                {% for row in solution %}
                <tr>
                    {% for col in row %}
                    <td><input class="col-{{forloop.counter0}} row-{{forloop.parentloop.counter0}} {% if col.1 %}marked{% endif %}"
                            name="{{forloop.parentloop.counter0}}_{{forloop.counter0}}" type="text" value={{col.0}}></td>
                    {% endfor %}
                </tr>
                {% endfor %}
                {% else %}
                {% for i in base %}
                <tr>
                <td><input class="col-0 row-{{i}}" name="{{i}}_0" type="text"></td>
                <td><input class="col-1 row-{{i}}"  name="{{i}}_1" type="text"></td>
                <td><input class="col-2 row-{{i}}"  name="{{i}}_2" type="text"></td>
                <td><input class="col-3 row-{{i}}"  name="{{i}}_3" type="text"></td>

                <td><input class="col-4 row-{{i}}"  name="{{i}}_4" type="text"></td>
                <td><input class="col-5 row-{{i}}"  name="{{i}}_5" type="text"></td>
                <td><input class="col-6 row-{{i}}"  name="{{i}}_6" type="text"></td>
                <td><input class="col-7 row-{{i}}"  name="{{i}}_7" type="text"></td>

                <td><input class="col-8 row-{{i}}"  name="{{i}}_8" type="text"></td>
                <td><input class="col-9 row-{{i}}"  name="{{i}}_9" type="text"></td>
                <td><input class="col-10 row-{{i}}"  name="{{i}}_10" type="text"></td>
                <td><input class="col-11 row-{{i}}"  name="{{i}}_11" type="text"></td>

                <td><input class="col-12 row-{{i}}"  name="{{i}}_12" type="text"></td>
                <td><input class="col-13 row-{{i}}"  name="{{i}}_13" type="text"></td>
                <td><input class="col-14 row-{{i}}"  name="{{i}}_14" type="text"></td>
                <td><input class="col-15 row-{{i}}"  name="{{i}}_15" type="text"></td>
                </tr>
                {% endfor %}
                {% endif %}
                </table>
                <div>
                    <button class="solve" type="submit" name="operation" value="solve">Solve</button>
                    <button class="solve" type="submit" name="operation" value="new_solution">New Solution</button>
                </div>
                <input type="hidden" value="{{original_input}}" name="original_input">
                <input type="hidden" value="{{negated_output}}" name="negated_output">
            </form>
        </div>

    </body>
</html>